In [3]:
import pandas as pd

In [114]:
종목기본정보 = pd.read_excel('./data/lec04_펀드_자산 - 복사본.xlsx', sheet_name = '종목 기본정보')
일자별주가 = pd.read_excel('./data/lec04_펀드_자산 - 복사본.xlsx', sheet_name = '일자별 주가')
일자별시가총액 = pd.read_excel('./data/lec04_펀드_자산 - 복사본.xlsx',sheet_name = '일자별 시가총액')
펀드 = pd.read_excel('./data/lec04_펀드_자산 - 복사본.xlsx', sheet_name = '펀드')

In [115]:
종목기본정보

     종목명          A전자        B건설          C증권         D화학        E엔터
0  상장주식수  10000000.00  5000000.0  20000000.00  1000000.00  1000000.0
1   유동비율         0.75        0.9         0.82        0.88        0.5

In [116]:
일자별주가.head(5)

   일자    A전자    B건설    C증권     D화학      E엔터
0   1  10000  20000  30000  100000  1000000
1   2  10265  19487  29365   99519  1027084
2   3  10476  19291  29952   97302  1038509
3   4  10584  19721  29550   99382  1062276
4   5  10609  20258  29149   99030  1097166

In [117]:
일자별시가총액.head(5)

,일자,A전자,B건설,C증권,D화학,E엔터,합계,지수
0,1,75000000000,90000000000,4.920000e+11,88000000000,500000000000,1245000000000,100.000000
1,2,76987500000,87691500000,4.815860e+11,87576720000,513542000000,1247383720000,100.191463
2,3,78570000000,86809500000,4.912128e+11,85625760000,519254500000,1261472560000,101.323097
3,4,79380000000,88744500000,4.846200e+11,87456160000,531138000000,1271338660000,102.115555
4,5,79567500000,91161000000,4.780436e+11,87146400000,548583000000,1284501500000,103.172811

In [118]:
펀드.head(5)

,일자,편입비중,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,지수,(Random),Unnamed: 8,총좌수,...,일자별 매매내역,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,주식 잔고,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,NaN,A전자,B건설,C증권,D화학,E엔터,NaN,설정좌수,환매좌수,NaN,...,A전자,B건설,C증권,D화학,E엔터,A전자,B건설,C증권,D화학,E엔터
1,1.0,0.060241,0.072289,0.395181,0.070683,0.401606,100.000000,1000000,0,1000000.0,...,60240.963855,36144.578313,131726.907631,7068.273092,4016.064257,60240.963855,36144.578313,131726.907631,7068.273092,4016.064257
2,2.0,0.061719,0.0703,0.386077,0.070208,0.411695,100.191463,200000,100000,1100000.0,...,6024.096386,3614.457831,13172.690763,706.827309,401.606426,66265.060241,39759.036145,144899.598394,7775.100402,4417.670683
3,3.0,0.062284,0.068816,0.389396,0.067878,0.411626,101.323097,100000,50000,1150000.0,...,3012.048193,1807.228916,6586.345382,353.413655,200.803213,69277.108434,41566.26506,151485.943775,8128.514056,4618.473896
4,4.0,0.062438,0.069804,0.381189,0.068791,0.417779,102.115555,200000,150000,1200000.0,...,3012.048193,1807.228916,6586.345382,353.413655,200.803213,72289.156627,43373.493976,158072.289157,8481.927711,4819.277108

In [119]:
초기설정좌수 = 10000000

In [120]:
종목기본정보 = pd.read_excel('./data/lec04_펀드_자산 - 복사본.xlsx', sheet_name = '종목 기본정보')
종목기본정보 = 종목기본정보.T
종목기본정보.columns = 종목기본정보.iloc[0]
종목기본정보.drop(종목기본정보.index[0], inplace=True)
종목기본정보['발행주식수'] = 종목기본정보['상장주식수']*종목기본정보['유동비율']

종목기본정보.reset_index(inplace=True)
종목기본정보.rename(columns = {'index':'종목명'}, inplace=True)
종목기본정보

종목명  종목명       상장주식수  유동비율       발행주식수
0    A전자  10000000.0  0.75   7500000.0
1    B건설   5000000.0   0.9   4500000.0
2    C증권  20000000.0  0.82  16400000.0
3    D화학   1000000.0  0.88    880000.0
4    E엔터   1000000.0   0.5    500000.0

In [121]:
종목기본정보[종목기본정보.종목명=='A전자']['발행주식수'].values

array([7500000.0], dtype=object)

In [122]:
일자별주가

      일자    A전자    B건설    C증권     D화학      E엔터
0      1  10000  20000  30000  100000  1000000
1      2  10265  19487  29365   99519  1027084
2      3  10476  19291  29952   97302  1038509
3      4  10584  19721  29550   99382  1062276
4      5  10609  20258  29149   99030  1097166
..   ...    ...    ...    ...     ...      ...
247  248  13712  10659  29946  140749  2014683
248  249  13863  10407  30480  138161  1963898
249  250  13602  10433  29652  139874  1924267
250  251  13381  10754  30184  142544  1973636
251  252  13636  10758  29726  142371  2000274

[252 rows x 6 columns]

In [123]:
일자별주가.set_index('일자',inplace=True)
for i in 일자별주가.columns:
    일자별주가[f'{i} 시총가'] = 일자별주가[f'{i}']* 종목기본정보[종목기본정보.종목명==i]['발행주식수'].values 
일자별주가['시가총액합계'] = 일자별주가['A전자 시총가'] + 일자별주가['B건설 시총가']+ 일자별주가['C증권 시총가'] + 일자별주가['D화학 시총가'] + 일자별주가['E엔터 시총가']

In [124]:
일자별주가['지수'] = 일자별주가['시가총액합계'] / 일자별주가['시가총액합계'].iloc[0]*100

In [125]:
일자별주가

,A전자,B건설,C증권,D화학,E엔터,A전자 시총가,B건설 시총가,C증권 시총가,D화학 시총가,E엔터 시총가,시가총액합계,지수
일자,,,,,,,,,,,,
1,10000,20000,30000,100000,1000000,75000000000.0,90000000000.0,491999999999.999939,88000000000.0,500000000000.0,1245000000000.0,100.0
2,10265,19487,29365,99519,1027084,76987500000.0,87691500000.0,481585999999.999939,87576720000.0,513542000000.0,1247383720000.0,100.191463
3,10476,19291,29952,97302,1038509,78570000000.0,86809500000.0,491212799999.999939,85625760000.0,519254500000.0,1261472560000.0,101.323097
4,10584,19721,29550,99382,1062276,79380000000.0,88744500000.0,484619999999.999939,87456160000.0,531138000000.0,1271338660000.0,102.115555
5,10609,20258,29149,99030,1097166,79567500000.0,91161000000.0,478043599999.999939,87146400000.0,548583000000.0,1284501500000.0,103.172811
...,...,...,...,...,...,...,...,...,...,...,...,...
248,13712,10659,29946,140749,2014683,102840000000.0,47965500000.0,491114399999.999939,123859120000.0,1007341500000.0,1773120520000.0,142.419319
249,13863,10407,30480,138161,1963898,103972500000.0,46831500000.0,499871999999.999939,121581680000.0,981949000000.0,1754206680000.0,140.900135
250,13602,10433,29652,139874,1924267,102015000000.0,46948500000.0,486292799999.999939,123089120000.0,962133500000.0,1720478920000.0,138.191078
251,13381,10754,30184,142544,1973636,100357500000.0,48393000000.0,495017599999.999939,125438720000.0,986818000000.0,1756024820000.0,141.04617
252,13636,10758,29726,142371,2000274,102270000000.0,48411000000.0,487506399999.999939,125286480000.0,1000137000000.0,1763610880000.0,141.655492

In [126]:
# 시가총액 편입비중 구하기~
일자별주가['A전자_편입비중'] = 일자별주가['A전자 시총가'] / 일자별주가['시가총액합계']
일자별주가['B건설_편입비중'] = 일자별주가['B건설 시총가'] / 일자별주가['시가총액합계']
일자별주가['C증권_편입비중'] = 일자별주가['시가총액합계'] / 일자별주가['시가총액합계']
일자별주가['D화학_편입비중'] = 일자별주가['D화학 시총가'] / 일자별주가['시가총액합계']
일자별주가['E엔터_편입비중'] = 일자별주가['E엔터 시총가'] / 일자별주가['시가총액합계']
일자별주가

,A전자,B건설,C증권,D화학,E엔터,A전자 시총가,B건설 시총가,C증권 시총가,D화학 시총가,E엔터 시총가,시가총액합계,지수,A전자_편입비중,B건설_편입비중,C증권_편입비중,D화학_편입비중,E엔터_편입비중
일자,,,,,,,,,,,,,,,,,
1,10000,20000,30000,100000,1000000,75000000000.0,90000000000.0,491999999999.999939,88000000000.0,500000000000.0,1245000000000.0,100.0,0.060241,0.072289,1.0,0.070683,0.401606
2,10265,19487,29365,99519,1027084,76987500000.0,87691500000.0,481585999999.999939,87576720000.0,513542000000.0,1247383720000.0,100.191463,0.061719,0.0703,1.0,0.070208,0.411695
3,10476,19291,29952,97302,1038509,78570000000.0,86809500000.0,491212799999.999939,85625760000.0,519254500000.0,1261472560000.0,101.323097,0.062284,0.068816,1.0,0.067878,0.411626
4,10584,19721,29550,99382,1062276,79380000000.0,88744500000.0,484619999999.999939,87456160000.0,531138000000.0,1271338660000.0,102.115555,0.062438,0.069804,1.0,0.068791,0.417779
5,10609,20258,29149,99030,1097166,79567500000.0,91161000000.0,478043599999.999939,87146400000.0,548583000000.0,1284501500000.0,103.172811,0.061944,0.07097,1.0,0.067845,0.427079
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,13712,10659,29946,140749,2014683,102840000000.0,47965500000.0,491114399999.999939,123859120000.0,1007341500000.0,1773120520000.0,142.419319,0.057999,0.027051,1.0,0.069854,0.568118
249,13863,10407,30480,138161,1963898,103972500000.0,46831500000.0,499871999999.999939,121581680000.0,981949000000.0,1754206680000.0,140.900135,0.05927,0.026697,1.0,0.069309,0.559768
250,13602,10433,29652,139874,1924267,102015000000.0,46948500000.0,486292799999.999939,123089120000.0,962133500000.0,1720478920000.0,138.191078,0.059295,0.027288,1.0,0.071544,0.559224
251,13381,10754,30184,142544,1973636,100357500000.0,48393000000.0,495017599999.999939,125438720000.0,986818000000.0,1756024820000.0,141.04617,0.05715,0.027558,1.0,0.071433,0.561961
252,13636,10758,29726,142371,2000274,102270000000.0,48411000000.0,487506399999.999939,125286480000.0,1000137000000.0,1763610880000.0,141.655492,0.057989,0.02745,1.0,0.07104,0.567096

In [127]:
# 설정좌수랑 환매좌수, 일자별 매매내역은 그냥 갖고오기
펀드 = pd.read_excel('./data/lec04_펀드_자산 - 복사본.xlsx', sheet_name = '펀드')
펀드.columns = 펀드.iloc[0]
펀드.drop(펀드.index[0], inplace=True)

tmp = 펀드.iloc[:,12:17]
tmp.columns = ['A전자 일자별 매매내역', 'B건설 일자별 매매내역', 'C증권 일자별 매매내역', 'D화학 일자별 매매내역', 'E엔터 일자별 매매내역']
일자별주가['설정좌수'] = 펀드['설정좌수']
일자별주가['환매좌수'] = 펀드['환매좌수']





# 총좌수 구하기
일자별주가['총좌수'] = 일자별주가['설정좌수'] - 일자별주가['환매좌수']
일자별주가['총좌수'] = 일자별주가['총좌수'].cumsum()
일자별주가['iNAV'] = 10000*일자별주가['지수'] / 일자별주가['지수'].iloc[0]
일자별주가['AUM'] = 일자별주가['iNAV'] * 일자별주가['총좌수']
일자별주가 = pd.concat([일자별주가, tmp ],axis=1)

# 주식잔고 cumsum해버리기
일자별주가['A전자 주식잔고'] = 일자별주가['A전자 일자별 매매내역'].cumsum()
일자별주가['B건설 주식잔고'] = 일자별주가['B건설 일자별 매매내역'].cumsum()
일자별주가['C증권 주식잔고'] = 일자별주가['C증권 일자별 매매내역'].cumsum()
일자별주가['D화학 주식잔고'] = 일자별주가['D화학 일자별 매매내역'].cumsum()
일자별주가['E엔터 주식잔고'] = 일자별주가['E엔터 일자별 매매내역'].cumsum()


일자별주가

,A전자,B건설,C증권,D화학,E엔터,A전자 시총가,B건설 시총가,C증권 시총가,D화학 시총가,E엔터 시총가,...,A전자 일자별 매매내역,B건설 일자별 매매내역,C증권 일자별 매매내역,D화학 일자별 매매내역,E엔터 일자별 매매내역,A전자 주식잔고,B건설 주식잔고,C증권 주식잔고,D화학 주식잔고,E엔터 주식잔고
1,10000,20000,30000,100000,1000000,75000000000.0,90000000000.0,491999999999.999939,88000000000.0,500000000000.0,...,60240.963855,36144.578313,131726.907631,7068.273092,4016.064257,60240.963855,36144.578313,131726.907631,7068.273092,4016.064257
2,10265,19487,29365,99519,1027084,76987500000.0,87691500000.0,481585999999.999939,87576720000.0,513542000000.0,...,6024.096386,3614.457831,13172.690763,706.827309,401.606426,66265.060241,39759.036145,144899.598394,7775.100402,4417.670683
3,10476,19291,29952,97302,1038509,78570000000.0,86809500000.0,491212799999.999939,85625760000.0,519254500000.0,...,3012.048193,1807.228916,6586.345382,353.413655,200.803213,69277.108434,41566.26506,151485.943775,8128.514056,4618.473896
4,10584,19721,29550,99382,1062276,79380000000.0,88744500000.0,484619999999.999939,87456160000.0,531138000000.0,...,3012.048193,1807.228916,6586.345382,353.413655,200.803213,72289.156627,43373.493976,158072.289157,8481.927711,4819.277108
5,10609,20258,29149,99030,1097166,79567500000.0,91161000000.0,478043599999.999939,87146400000.0,548583000000.0,...,9036.144578,5421.686747,19759.036145,1060.240964,602.409639,81325.301205,48795.180723,177831.325301,9542.168675,5421.686747
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,13712,10659,29946,140749,2014683,102840000000.0,47965500000.0,491114399999.999939,123859120000.0,1007341500000.0,...,-3012.048193,-1807.228916,-6586.345382,-353.413655,-200.803213,147590.361446,88554.216867,322730.923695,17317.269076,9839.35743
249,13863,10407,30480,138161,1963898,103972500000.0,46831500000.0,499871999999.999939,121581680000.0,981949000000.0,...,6024.096386,3614.457831,13172.690763,706.827309,401.606426,153614.457831,92168.674699,335903.614458,18024.096386,10240.963855
250,13602,10433,29652,139874,1924267,102015000000.0,46948500000.0,486292799999.999939,123089120000.0,962133500000.0,...,3012.048193,1807.228916,6586.345382,353.413655,200.803213,156626.506024,93975.903614,342489.959839,18377.51004,10441.767068
251,13381,10754,30184,142544,1973636,100357500000.0,48393000000.0,495017599999.999939,125438720000.0,986818000000.0,...,6024.096386,3614.457831,13172.690763,706.827309,401.606426,162650.60241,97590.361446,355662.650602,19084.337349,10843.373494
252,13636,10758,29726,142371,2000274,102270000000.0,48411000000.0,487506399999.999939,125286480000.0,1000137000000.0,...,0,0,0,0,0,162650.60241,97590.361446,355662.650602,19084.337349,10843.373494

In [128]:
일자별주가.columns

Index(['A전자', 'B건설', 'C증권', 'D화학', 'E엔터', 'A전자 시총가', 'B건설 시총가', 'C증권 시총가',
       'D화학 시총가', 'E엔터 시총가', '시가총액합계', '지수', 'A전자_편입비중', 'B건설_편입비중',
       'C증권_편입비중', 'D화학_편입비중', 'E엔터_편입비중', '설정좌수', '환매좌수', '총좌수', 'iNAV',
       'AUM', 'A전자 일자별 매매내역', 'B건설 일자별 매매내역', 'C증권 일자별 매매내역', 'D화학 일자별 매매내역',
       'E엔터 일자별 매매내역', 'A전자 주식잔고', 'B건설 주식잔고', 'C증권 주식잔고', 'D화학 주식잔고',
       'E엔터 주식잔고'],
      dtype='object')

In [129]:
펀드.columns

Index([   nan,  'A전자',  'B건설',  'C증권',  'D화학',  'E엔터',    nan, '설정좌수', '환매좌수',
          nan,    nan,    nan,  'A전자',  'B건설',  'C증권',  'D화학',  'E엔터',  'A전자',
        'B건설',  'C증권',  'D화학',  'E엔터'],
      dtype='object', name=0)